<div class="container">
  <div class="sorting">
    <div class="sorting__date">
      <div class="sorting__date-header">Сортировать по дате</div>
      <select class="form-control"
              id="dateSort"
              required
              [(ngModel)]="dateSort"
              name="dateSort"
              (ngModelChange)="SortByDate()"
              #power="ngModel">
        <option [value]="'asc'">По возрастанию</option>
        <option [value]="'desc'">По убыванию</option>
      </select>
    </div>

    <div class="sorting__type">
      <div class="sorting__type-header">Фильтрация по типу</div>
      <select class="form-control"
              id="typeFilter"
              required
              [(ngModel)]="typeFilter"
              name="dateSort"
              (ngModelChange)="FilterByType()"
              #power="ngModel">
        <option [value]="''">Все</option>
        <option [value]="'News'">Новости</option>
        <option [value]="'Transaction'">Транзакции</option>
      </select>
    </div>
  </div>

  <div
    class="events"
    [class.green]="event.result === '+' || event.viewed"
    [class.red]="event.result === '-'"
    *ngFor="let event of timelineEvents"
    [ngSwitch]="event.type"
    (click)="showDetails(event.id)">

    <div class="events__item" *ngSwitchCase="'News'">
      <div class="event__item-header">{{event.header}}</div>
    </div>

    <div  class="events__item"*ngSwitchCase="'Transaction'">
      <div class="events__item-result">
        {{event.result==='-' ? 'Расход' : 'Приход'}}
      </div>
      <div class="events__item-amount">
        {{event.amount}}
      </div>
      <div class="events__item-value">
        {{event.value}}
      </div>
      <div class="events__item-person">
        {{event.person}}
      </div>
      <div class="events__item-date">
        {{event.date}}
      </div>
    </div>
  </div>
  <a class="button" routerLink="/new">New</a>
</div>
