<div class="container">
  <div [hidden]="submitted">
    <h1>Event Form</h1>
    <div class="typeSelect">
      <label for="type">Event Type</label>
      <select class="form-control" id="type"
              required
              [(ngModel)]="type" name="type"
              #power="ngModel">
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
    </div>

    <div [ngSwitch]="type" class="eventForm">
      <div  *ngSwitchCase="'News'">
        <form (ngSubmit)="onSubmit()">
          <div class="newsInput">
            <label for="header">Header</label>
            <input type="text" class="form-control" id="header"
                   required
                   [(ngModel)]="model.header" name="header"
                   #header="ngModel">
          </div>

          <div class="newsInput">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description"
                   [(ngModel)]="model.description" name="description">
          </div>

          <div class="newsInput">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date"
                   [(ngModel)]="model.date" name="date">
          </div>

          <!--<button type="submit" class="btn btn-success" [disabled]="!newNews.form.valid">Submit</button>-->
          <button type="button" class="button" (click)="newNews();">Create event</button>
        </form>
      </div>

      <div  *ngSwitchCase="'Transaction'">
        <form (ngSubmit)="onSubmit()">
          <div class="transactionInput">
            <label for="amount">amount</label>
            <input type="text" id="amount"
                   required
                   [(ngModel)]="model.amount" name="amount"
                   #header="ngModel">
          </div>

          <div class="transactionInput">
            <label for="value">value</label>
            <input type="text" id="value"
                   [(ngModel)]="model.value" name="value">
          </div>

          <div class="transactionInput">
            <label for="person">person</label>
            <input type="text" class="form-control" id="person"
                   [(ngModel)]="model.person" name="person">
          </div>

          <div class="transactionInput">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description"
                   [(ngModel)]="model.description" name="description">
          </div>

          <div class="transactionInput">
            <label for="result">result</label>
            <select id="result"
                    [(ngModel)]="model.result"
                    name="result">
              <option [value]="'-'">Расход</option>
              <option [value]="'+'">Приход</option>
            </select>
          </div>

          <div class="transactionInput">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date"
                   [(ngModel)]="model.date" name="date">
          </div>

          <button type="button btn-long-text" class="button" (click)="newTransaction();">Create event</button>
        </form>
      </div>
    </div>

  <a class="button" routerLink="/">Back</a>
